.flexibletemplate .form-item{
  margin:0px;
  display:inline;
}
.flexibletemplate .form-text{
  display:inline;
  width:auto;
}
.hidden_format_ft{
  display:none;
}
.hidden_tinymce_ft #edit-body_parent, .hidden_tinymce_ft .wysiwyg-toggle-wrapper {
display:none;
}